{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SMMPDB - Contact{% endblock %}

{% block contact-active %}class="active"{% endblock %}

{% block jumbo %}
  <h2>Contact Information</h2>
{% endblock %}

{% block content %}
    <h4>Daniel Murrell</h4>
    <p>Department of Chemistry
Lensfield Road
</br>Cambridge
CB2 1EW, UK</p>
    <p>mobile: +44 7982820370<br />
    e-mail: <a href="mailto:daniel.murrell@cantab.net">daniel.murrell@cantab.net</a>
    </p>
    <img style="float: right; margin: 0px 15px 15px 0px;" alt="Sample map" src="http://maps.googleapis.com/maps/api/staticmap?center=52.19794,0.12509&amp;zoom=14&amp;size=400x266&amp;sensor=false&amp;markers=color:red%7C52.19794,0.12509" />

{% endblock %}