{% extends "base.html" %}

{% block title %}SMMPDB{% endblock %}

{% block home-active %}class="active"{% endblock %}

{% block jumbo %}
  <h2>Small Molecule Measured Property Database</h2>
  <img src="/static/repo/images/molecule.png" style="width:400px;height:240px">
{% endblock %}

{% block content %}
  <div class="col-lg-6">
    <a href="{% url 'datasets' %}" style="color: #000000;text-decoration: none; outline: 0"><h4><i class="fa fa-bars"></i>  Measured Property Datasets</h4></a>
    <p>Curated measured physico-chemical property data collected from the literature.</p>
  </div>

  <div class="col-lg-6">
    <a href="{% url 'predict' %}" style="color: #000000;text-decoration: none; outline: 0"><h4><i class="fa fa-cogs"></i>  Property Prediction</h4></a>
    <p>Make predictions for physchem-properties. Get back predicted values and an estimation of the error of the prediction.</p>
  </div>
 {% endblock %}
