{% extends "base.html" %}

{% block title %}SMMPDB{% endblock %}

{% block home-active %}class="active"{% endblock %}

{% block jumbo %}
  <h2>Small Molecule Measured Property Database</h2>
  <img src="/static/repo/images/molecule.png" style="width:400px;height:240px">
{% endblock %}

{% block content %}
  <div class="col-lg-6" style="text-align: center">
    <a href="{% url 'datasets' %}" style="color: #000000;text-decoration: none; outline: 0"><h4><i class="fa fa-bars"></i>  Measured Property Datasets</h4></a>
    <p>Publicly available measured physico-chemical property <a href="{% url 'datasets' %}" style="color: #6DAC1D;text-decoration: none; outline: 0">data sets</a> collected from the literature and submitted by your peers. The data is quality checked to make sure that the measured property values are in line with expectations.</p>
  </div>

  <div class="col-lg-6" style="text-align: center">
    <a href="{% url 'predict' %}" style="color: #000000;text-decoration: none; outline: 0"><h4><i class="fa fa-cogs"></i>  Property Prediction</h4></a>
    <p>Get predictions for physico-chemical properties together with an estimation of the error of the individual predictions. <a href="{% url 'predict' %}" style="color: #6DAC1D;text-decoration: none; outline: 0">Models</a> are trained on any submitted public data as well as available in house data that cannot be made public.</p>
  </div>
 {% endblock %}
