{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SMMPDB - Predict{% endblock %}

{% block predict-active %}class="active"{% endblock %}

{% block jumbo %}
  <div class="jumbotron">
      <h2>Physico-chemical Property Prediction</h2>
      <!--<p class="lead" style="color:black">A collection of measuered physico-chemical property datasets collected from literature together with physico-chemical prediction tools.</p>-->
      <img src="/static/repo/images/molecule_2.png" style="width:180px;height:180px">
      <img src="/static/repo/images/right_arrow.png" style="width:80px;height:80px">
      <img src="/static/repo/images/real_number.png" style="width:100px;height:100px">
  </div>
{% endblock %}

{% block content %}
  <div class="row marketing">
    <a href="{% url 'smlogp' %}"><img src="/static/repo/images/logp_button.png" style="width:133px;height:68px"></a>
    <a href="{% url 'smlogp' %}"><img src="/static/repo/images/logp_button.png" style="width:133px;height:68px"></a>
    <a href="{% url 'smlogp' %}"><img src="/static/repo/images/logp_button.png" style="width:133px;height:68px"></a>
    <a href="{% url 'smlogp' %}"><img src="/static/repo/images/logp_button.png" style="width:133px;height:68px"></a>
    <a href="{% url 'smlogp' %}"><img src="/static/repo/images/logp_button.png" style="width:133px;height:68px"></a>
  </div>
{% endblock %}

