{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SMMPDB - Predict{% endblock %}

{% block predict-active %}class="active"{% endblock %}

{% block jumbo %}
  <h2>Physico-chemical Property Prediction</h2>
  <img src="/static/repo/images/molecule_3.png" style="width:210px;height:180px">
  <img src="/static/repo/images/trans.png" style="width:30px;height:30px">
  <img src="/static/repo/images/right_arrow.png" style="width:80px;height:80px">
  <img src="/static/repo/images/trans.png" style="width:30px;height:30px">
  <img src="/static/repo/images/real_number.png" style="width:100px;height:100px">
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped table-hover">
    <tbody>
      <tr>
          <th class="text-center">Type</th>
          <th class="text-center">Predict</th>
          <th class="text-center">Description</th>
      </tr>
      {% for model in models %}
         <tr>
            <td class="text-center" style="vertical-align:middle">{{ model.type }}</td>
            <td class="text-center" style="vertical-align:middle"><a href="{{ SITE_ROOT }}/sm{{ model.type }}" style="color: #6DAC1D;text-decoration: none; outline: 0"><i class="fa fa-cogs fa-2x"></i></a></td>
            <td class="text-center">{{ model.description }}</td>
          </tr>
      {% endfor %}
    </tbody>
		</table>
{% endblock %}

