{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SMMPDB - Predict LogP{% endblock %}


{% block predict-active %}class="active"{% endblock %}

{% block jumbo %}
      <h2>LogP Prediction</h2>
      <img src="/static/repo/images/cogs_black.png" style="width:340px;height:140px">
{% endblock %}

{% block content %}
  {{ processing }}
  {% if show_form %}
  <form action="{% url 'smlogp' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <p><input src="/static/repo/images/upload_button.png" style="width:95px;height:35px" type="image" value="Upload" /></p>
  </form>
  {% endif %}
{% endblock %}
