{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SMMPDB - Submit Data{% endblock %}


{% block jumbo %}
  <h2>Data Submission</h2>
  <p class="lead" style="color:black">Please make sure that your submission is formatted correctly.</p>
  <a href="{% url 'submitinfo' %}" style="color: #000000;text-decoration: none; outline: 0"><h4><i class="fa fa-info-circle"></i>  Submission information</h4></a>
  <img src="/static/repo/images/upload.png" style="width:128px;height:128px">
{% endblock %}

{% block content %}
  {{ processing }}
  {% if show_form %}
    <form action="{% url 'submit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
        <p><input type="submit" value="Upload" /></p>
    </form>
  {% endif %}
{% endblock %}